<!DOCTYPE html>
<html lang="en">
<head>
  <title>GameBlog</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- BOOTSTRAP CSS -->
  <!-- <link rel="stylesheet" href="~/wwwroot/lib/bootstrap/dist/css/bootstrap.css"> -->

  <!-- OWN CSS -->
  <link rel="stylesheet" href="~/wwwroot/css/main.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="~/wwwroot/lib/bootstrap/dist/js/bootstrap.js"></script>
  <script src="https://cdn.ckeditor.com/ckeditor5/23.1.0/classic/ckeditor.js"></script>


  <!-- Google Fonts-->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  
  <!-- FONT AWESOME -->
  <script src="https://kit.fontawesome.com/e4a329f3c7.js" crossorigin="anonymous"></script>

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark navBgColor nvbShadow">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nvbCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a href="#" class="navbar-brand"><img src="~/wwwroot/images/buggameslogo.png" class="img-fluid"></a>

            <div class="collapse navbar-collapse" id="nvbCollapse">
                <ul class="navbar-nav ms-auto text-center">
                <li class="nav-item"><a href="#" class="nav-link"><i class="fas fa-home"></i></a></li>
                <li class="nav-item"><a href="#" class="nav-link">CS:GO</a></li>
                <li class="nav-item"><a href="#" class="nav-link">LOL</a></li>
                <li class="nav-item"><a href="#" class="nav-link">VALORANT</a></li>
                <li class="nav-item"><a href="#" class="nav-link">DİĞER</a></li>
                <!-- <li class="nav-item"><a href="#" class="nav-link"><i class="fas fa-search"></i></a></li> -->
                <div class="search-box">
                    <input class="search-txt" type="text" name="" placeholder="Arama...">
                    <a class="search-btn" href="#"><i class="fas fa-search"></i></a>
                </div>
                </ul>
            </div>
        </div>
    </nav>
  
<div class="container">
  @RenderBody()
</div>


</body>
</html>
