@model List<GameBlog.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h2>Kategoriler</h2>
<a href="/Category/AddCategory" class="btn btn-primary">Yeni Kategori Ekle</a>
<br/>
<br/>
<table class="table table-bordered">
    
    <tr>
        <th>ID</th>
        <th>Kategori Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var x in Model)
    {
        <tr>
            <td>@x.CategoryID</td>
            <td>@x.CategoryName</td>
            <td><a href="/Category/DeleteCategory/@x.CategoryID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Category/UpdateCategory/@x.CategoryID" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>