@model GameBlog.Models.Blog

@{
    ViewData["Title"] = "AddBlog";
}
<h2>Yeni Blog Ekle</h2>
<br/>
<form method="POST" enctype="multipart/form-data">
  <div class="form-group">
    <label for="exampleInputEmail1">Blog Başlığı</label>
    @Html.TextBoxFor(x => x.BlogHeader,new { @class="form-control"})
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Blog İçeriği</label>
    @Html.TextAreaFor(x => x.BlogContent,new { @class="form-control"})
    <!--  
    <div asp-for="BlogContent">This is some sample content.</div> 
    @Html.TextBoxFor(x => x.BlogContent,new { @class="form-control"})
    <textarea id="editor" class="form-control" asp-for="BlogContent"></textarea>
    <span asp-validation-for="BlogContent" class="text-danger"></span> -->
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Blog Resmi</label>
    <input type="hidden" asp-for="ImagePath">
    <input type="file" name="file">
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Blog Kategorisi</label>
    @Html.DropDownListFor(x => x.Category.CategoryID,(List<SelectListItem>)ViewBag.values,new {@class="form-control"})
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Yayınlanacak Mı?</label>
    <input asp-for="IsPublish" type="checkbox" class="custom-control-input">
  </div>

  <button class="btn btn-info">Blog Ekle</button>
</form>

<script>
                        ClassicEditor
                                .create( document.querySelector( '#BlogContent' ) )
                                .then( editor => {
                                        console.log( editor );
                                } )
                                .catch( error => {
                                        console.error( error );
                                } );
</script>